body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
}
.container {
  background-color: #d1eef2;
  padding: 30px 60px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
}
input {
  margin-bottom: 10px;
  padding: 8px;
  font-size: 16px;
  outline: none;
}
button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.register-btn {
  background-color: #6dc5d1;
  border: none;
  color: #00215e;
  border-radius: 10px;
}
.register-btn:hover {
  background-color: #0da4b8;
}

.login-btn {
  background-color: #003285;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  padding: 10px 12px;
  border-radius: 5px;
}

.register_login-page {
  padding: 10px 12px;
  text-decoration: none;
}

.login-login-page {
  border: none;
}

.login-login-page:hover {
  background-color: #20519f;
}

.logout-btn {
  background-color: #640d6b;
  border: none;
  padding: 10px 12px;
  color: #fff;
  border-radius: 10px;
}

.logout-btn:hover {
  background-color: #e651f1;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  background-color: red;
}

input {
  border: none;
  outline: none;
}
